@model List<StudentManagementProject.Models.Domain.Student>
@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@*<div>
    @foreach(var item in Model)
    {
        @item.Firstname
        @foreach(var course in item.StudentCourses)
        {
            @course.Course.Name <br />
        }
        <br />
    }
</div>*@
<h3 class="text-center mb-4 mt-4"> List all Student & Course matchings </h3>
<div class="row align-items-center justify-content-center">
    <div class="col-md-6">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col">Name</th>
                    <th scope="col">Surname</th>
                    <th scope="col">Course Name</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var item in Model)
                {
                    <tr>
                        <th scope="row"></th>
                        <td>@item.Firstname</td>
                        <td>@item.Lastname</td>
                        <td>
                            @foreach (var course in item.StudentCourses)
                            {
                                @course.Course.Name<br />
                            }
                        </td>


                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>